@use 'abstracts/variables' as vars;

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 52px;
  width: auto;
  object-fit: contain;
  transition: vars.$transition-transform-default;
  display: block;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}