@use 'abstracts/variables' as vars;

.history-page {
  @include vars.standard-page-layout;

  .video-wrapper {
    iframe {
      display: block;
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
      border: none;
    }
  }
}