<section class="hero">
  <video class="hero-video" autoplay muted [muted]="true" loop playsinline>
    <source src="assets/videos/background-video.mp4" type="video/mp4">
  </video>

  <div class="hero-content">
    <h1 class="hero-title">VIVA O NOVO</h1>
    <button class="hero-cta-btn">JUNTE-SE A NÓS NO DOMINGO</button>
  </div>

  <div class="hero-service-info">
    <div class="info-day">DOMINGO</div>
    <div class="info-hours">18h | 20h</div>
    <div class="info-presence">Participe presencial ou online</div>
  </div>
</section>
